.cart-conteiner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: rgb(205, 182, 153);
    height: auto;
    border: 2px solid;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    padding: 0.2em;
}

.cart-image {
    height: auto;
    width: 30px;
}