img{
    height: 300px;
    width: auto;
    object-fit: cover;
    padding: 1%;
    border-radius: 20%;
}
.detail-button {
    min-width: 130px;
    height: 40px;
    color: #fff !important;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-flex;
    outline: none;
    overflow: hidden;
    border-radius: 5px;
    border: none;
    background-color: rgb(195, 219, 217);
    text-decoration: none;
    text-align: center;
    align-items: center;
    bottom: 0px;
    margin: 0;
    
}

.detail-button:hover {
    border-radius: 5px;
    padding-right: 24px;
    padding-left: 8px;
}

.detail-button:hover:after {
    opacity: 1;
    right: 10px;
}

.detail-button:after {
    content: "\00BB";
    position: absolute;
    opacity: 0;
    font-size: 20px;
    line-height: 40px;
    top: 0;
    right: -20px;
    transition: 0.4s;
}