@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

h1,h2,h3,h4,h5,a,p,span{
  color: black;
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
  text-decoration: none;
}


.App-logo {
  height: 10vmin;
  pointer-events: none;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
